html {
    overflow-y: scroll;
  }
body{
    font-family: 'Raleway', sans-serif;
}
a {
    color: inherit;
}
a:hover {
    transition: color 1s;
    color: black;
}
.padding {
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
}
.menu-title {
    font-weight: 600;
    color: #13b479
}
.main-title {
    font-weight: 600;
    padding-top: 6%;
    padding-bottom: 1%;
}
.subtitle{
    font-weight: 400;
    padding-bottom: 3%;
}
.nav-link.current{
    padding-bottom: 0;
    border-bottom: 1px solid #13b479;
    color: #13b479 !important;
}
.green{
    /* background-color: #13b479; */
    background-image: linear-gradient(to bottom, #13b479, #13b479 45%, white 20%);
    padding-top: 8%;
    padding-bottom: 6%;
    color: white;
}
.greetings{
    font-weight: 600;
}
.bio{
    padding-top: 1.5%;
    font-weight: 400;
}
.container-fluid.d-flex.justify-content-center.align-items-center{
    padding-bottom: 5%;
}
.navbar.navbar-expand-lg.navbar-light.bg-white{
    padding-bottom: 2%;
}
.menu-image {
    width: 20px;
}
.bottom-image {
    padding-top: 5.6%;
}
.profile-image {
    max-height: 23% !important;
    max-width: 23% !important;
    min-height: 23% !important;
    min-width: 23% !important;
}
.cards{
    border-radius: 30px 30px 30px 30px;
    background-color: white ;
    color: black ;
    min-width: 25%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding-bottom: 3%;
    margin-bottom: 3%;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px rgb(180, 185, 196);
}
.cards-image{
    margin-top: 10%;
    margin-bottom: 10%;
    max-width: 30%;
    max-height: 30%;
}
.cards-title{
    font-weight: 600;
    padding-top: 3%;
}
.cards-text{
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 300;
}
.green-text{
    color: #13b479;
}
.cards-ul {
    list-style-type: none;
}
.project {
    color: #13b479;
}
.project-title {
    font-weight: 700;
    padding-bottom: 3%;
}
.project-box {
    border-radius: 30px 30px 30px 30px;
    min-width: 25%;
    margin-right: 2%;
    margin-left: 2% !important;
    margin-bottom: 2% !important;
    /* box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 4px #13b479; */
}
.project-box a:hover{
    transition: color 1s;
    color: black;
}
.project-logo{
    margin-top: 25%;
    margin-bottom: 25%;
    max-width: 50%;
    max-height: 50%;
}
.project-text{
    position: relative;
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(19, 180, 121, 0.7);
    margin-top: 20% !important;
    margin-bottom:  20% !important;
    color: white;
    font-weight: 700;
}
.project-text a{
    text-decoration: none;
}
.padding-footer{
    padding-top: 3%;
    margin-top: 5%;
    color:white;
}
.green-footer{
    background-color: #13b479;
    padding-bottom: 1%;
}
.footer-title {
    border-bottom: 1%;
    font-weight: 600;
}
.footer-copyright {
    padding-top: 1%;
}
.gallery-photo{
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    height: 100%;
    min-width: 20%;
    min-height: 20%;
}
.gallery-container{
    padding-left: 3%;
    padding-right: 3%;
    max-width: 85%;
}
.gallery-col{
    padding-bottom: 1.5%;
}
.gallery-padding{
    margin-left: 3%;
    margin-top: 1%;
    margin-right: 3%;
}
.form-group label{
    margin-top: 5%;
}
