body{
    font-family: 'Raleway', sans-serif;
}
a {
    color: inherit;
}
a:hover {
    color: darkgray;
}
.padding {
    padding-left: 2.5%;
    padding-top: 1%;
    padding-right: 2.5%;
}
.menu-title {
    font-weight: 600;
    padding: 0 0 0 0 ;
    color: #13b479
}
.main-title {
    font-weight: 600;
    padding-top: 6%;
    padding-bottom: 1%;
}
.subtitle{
    font-weight: 400;
    padding-bottom: 3%;
}
.nav-link.current{
    padding-bottom: 0;
    border-bottom: 1px solid #13b479;
    color: #13b479 !important;
}
.green{
    background-color: #13b479;
    padding-top: 8%;
    padding-bottom: 10%;
    color: white;
}
.greetings{
    font-weight: 700;
}
.bio{
    padding-top: 1.5%;
    font-weight: 300;
}
.navbar.navbar-expand-lg.navbar-light.bg-white{
    padding-bottom: 2%;
}
.menu-image {
    width: 20px;
}
.bottom-image {
    padding-top: 5.6%;
}
.profile-image {
    max-height: 23% !important;
    max-width: 23% !important;
    min-height: 23% !important;
    min-width: 23% !important;
}